.row {
    width:100%;
    display: flex;
}
.col {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
}
.row:after{
    display:table;
    clear:both;
    content:" ";
}
img {
    max-width: 100%;
}