<div class="row center-xs">
  <div class="col-xs-10 col-sm-8 col-md-6">
    <div id="trap-activate" [@visibility] = "trapActivateState">
      <h1  [@display] = "trapActivateDisplay">I activate my trap card</h1>
      <img  [@display] = "trapActivateDisplay" src="assets/trap-activate.jpg">
    </div>
    <div id="trap-card" [@display] = "trapCardDisplay" >
      <img src="assets/trap.jpg">
      <h1 >Send your nudes <a href="mailto:ngp130895@gmail.com?subject=Send nudes">here</a></h1>
      <button  routerLink="/choose-card">Play again</button>
    </div>
  </div>
</div>
